h1{
  text-align: center;
  margin-left: 5%;
}
.paranetCt{
  display: flex;
}

.container{
  display: inline-grid;
  grid-template-columns: repeat(3, 120px);
  height: auto;
  padding: 30px;
  border: solid 60px lightseagreen;
  border-radius: 20px;
  background-color: ivory;
}
.spacer {
  flex: 1;
}
.play1{
  text-align: left;
}
.play2{
  text-align: right;
}
.box{
  color : #000;
  font-size: 30px;
  font-weight:bold;
  width: 120px;
  height: 120px;
}
.mark{
  font-size: 30px;
}
.para{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin-left: 43%;
}
.mark2{
  font-size: 30px;
  margin-left: 61px;
}
.playAgain{
  background-color: lightseagreen;
  border: none;
  color: white;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 12px;
  margin: auto;
}

.fatButton{
  padding: 5px;
}
